@charset "UTF-8";

body {
	background-color: #f7f7f7;
	font-family:'Ubuntu', sans-serif;
	margin-top : 50px;
	padding-right: 10%;
	padding-left: 10%;
}

.header {
	background-color: #e1b294;
	border: 1px solid black;
	padding: 2%;
}

.table, .card {
	border: 1px solid black;
}

.table thead, .card-header{
	background-color: #e1b294;
}
